@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body {
  font-family: Acme,sans-serif;
  padding: 20px;
}

table {
  border-collapse: collapse;
  background-color: #D9D9D9;
  outline: 6px solid #6A0D83;
  outline-offset: 0px;
}
td {
  min-width: 32px;
  height: 36px;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 3px solid #D9D9D9;
}

.right-side{
  font-size: 24px;
  color: #72158C;
}

.input_letter {
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: 1px solid orange;
  background-color: white;
  color: initial;
  width: 18px;
  height: 18px;
  text-align: center;
}

#input_container {
  display: none;
  border: 1px solid;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  opacity: 0.7;
}

.hand_letter {
  background: #0B2187;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block;
  text-align: left;
  margin: 5px;
  width: 40px;
  height: 45px;
  padding-top: 3px;
  padding-left: 16px;
  font-size: 32px;
  border-radius: 6px;
}
.hand_letter_points {
  display: inline;
  margin-left: 2px;
  font-size: 12pt;
}

.letters_left {
  display: inline-block;
  margin-top: 25px;
}

.player_name {
  display: inline-block;
  margin-left: 5px;
}

.tw {
  background:#E60000;
}
.dw {
  background:#F86969;
}
.tl {
  background:#3675FA;
}
.dl {
  background:#22ACD8;
}
.start {
  background:#ff5500;
}

.color_instruction {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 2px;
}

.score_container {
  padding: 20px;
  border-top: 8px solid #6A0D83;
  background-color: #D9D9D9;
  width: 40%;
  margin-bottom: 15px;
}
.letter_board{
  padding: 20px;
  border-top: 8px solid #6A0D83;
  background-color: #D9D9D9;
  width: 100%;
  margin-bottom: 15px;
}
.player_1, .player_2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}
.history_board{
  padding: 20px;
  border-top: 8px solid #6A0D83;
  background-color: #D9D9D9;
  width: 40%;
}
.history_board h3{
  margin: 0px;
}
#history_result{
  height: 150px;
  overflow: auto;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.history_item{
  display: flex;
  justify-content: space-between;
  flex-wrap: bowrap;
  font-size: 21px;
  
}
.history_item p{
  margin-top: 5px;
  margin-bottom: 5px;
}
.player_2{
  margin-top: 10px;
}
.name_style{
  text-align: left;
}
.point_style{
  text-align: right;
  background-color: #72158C;
  padding: 4px 16px;
  color: #FFFFFF;
  border-radius: 6px;
}
#board {
  font-weight: bold;
}

#your_letters {
  margin-top: 10px;
}

.input_here {
  background: #ff0000;
}

.player_set_tile {
  background: #ff9900;
}

.ki_set_tile {
  background: #d3f7db;
}

.language_selector a {
  color: #2f2f2d;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
}

img {
  margin-right: 5px;
}

.button {
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 16px;
  background: #72158C;
  color: #FFFFFF;
  font-family: Acme;
  font-size: 21px;
  border: none;
  margin-top: 20px;
}

.button:disabled, .button[disabled] {
  cursor: auto;
  background-color: #707070;
}
.skip{
  background-color: #9D0010;
}
.game {
  display: flex;
  margin-right: 50px;
  flex-wrap: nowrap;
  gap: 3%;
  width: 100%;
  margin: 0 auto;
}

.manual {
  max-width: 550px;
}

h1, h2 {
  font-size: 100%;
}

.wrapper {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
